*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-grey: #f5f6f7;
  --dark-blue: #1b1b32;
  --orange: #f1be32;
}

body {
    background-color: rgb(36, 10, 61);
}

.logo {
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 200px;
}

.img-logo {
    max-width: 200px;
    max-height: 50px;
}

.container {
    border: 2px solid white; /* TODO: delete it in the end */
}

.container, #output {
    width: 30%;
    height: 30%;
    margin: 2em auto;
    background-color: rgb(94, 73, 114);
}

.converter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.container>h1 {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}

.converter-container>label {
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: aliceblue;
    margin: 10 px auto;
}

.number-input {
    margin-top: 10px; 
    margin-bottom: 10px;
    max-width: 600px;
    height: 20%;
    width: 95%;
    background-color: rgb(24, 7, 41);
    color: aliceblue;
    font-size: 48px;
}

.convert-btn {
    height: 20%;
    width: 95%;
    background-image: linear-gradient(#fecc4c, #ffac33);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(15, 15, 15);
    margin-bottom: 20px;
    border: 3px solid #feac32;
    font-size: 23px;
    cursor: pointer;
    border: none;
    padding: 4px;
}

#output {
    font: 2.5em sans-serif;
    color: aliceblue;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .input-container {
    flex-direction: row;
    }
}
